# Prisma
POSTGRES_PRISMA_URL=postgresql://postgres:postgres@localhost:5432/base-exchange-dev?schema=public

# Better auth
# Command to generate new secret: openssl rand -base64 32
BETTER_AUTH_SECRET=Tg7lCHQMbXP4Fltzx56CwHUZtBNq3n5pEsPzQTRZMvo=
BETTER_AUTH_URL=http://localhost:3000

# Next Public API URL
NEXT_PUBLIC_API_URL=http://localhost:3000

# brapi.dev: API that returning Ibovespa stock list
BRAPI_API_TOKEN=

iotGija7OUAZYhYw
